# Default code owners for the Marine Mammal Assessment Platform.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @jefftindall
