terraform {
  backend "s3" {
    bucket         = "YOUR-TF-STATE-BUCKET"
    key            = "staging/terraform.tfstate"
    region         = "us-east-1"
    dynamodb_table = "terraform-locks"
    encrypt        = true
  }
}
